:root {
  --primary-color: #f55302;
  --secondary-color: #282c34;
  --third-color: #210227;
}
html {
  scroll-behavior: smooth;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-third {
  background-color: var(--third-color) !important;
}